body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
}

.table {
    background-color: rgb(216, 179, 179);
}

.table-dark {
    background-color: #4d566e;
    color: white;
}

.shadow {
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #263a6c;
    border: none;
}

.btn-primary:hover {
    background-color: #1a2850;
    transform: scale(1.05);
    transition: 0.3s;
}
